@charset "utf-8";

/* float解除用のクラス「clearfix」 */

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
  font-size: 0;
}


/* 使い方


下記のように、HTML側でfloatをかけた子要素の親要素に、Class属性「clearfix」と指定することで、子要素のfloatを解除できる。

  <ul class="clearfix">
    <li>floatがかかっている子要素</li>
    <li>floatがかかっている子要素</li>
  </ul>


*/